includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false
	doctrine:
		objectManagerLoader: test/object-manager.php
	ergebnis:
		classesAllowedToBeExtended:
			- Symfony\Component\HttpKernel\Kernel
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- config/
		- src/
		- test/
	symfony:
		container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml
	tmpDir: .build/phpstan/
