includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- bin/console
		- config/
		- public/index.php
		- src/
		- test/
	tmpDir: %currentWorkingDirectory%/.build/phpstan/
