includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- config/
		- src/
		- test/
		- public/index.php
		- bin/console
	symfony:
		container_xml_path: var/cache/test/Ergebnis_Application_KernelTestDebugContainer.xml
	tmpDir: .build/phpstan/
